body
{
    font-size: 15pt;
}
header
{
  font-weight: bold;
  color: red;
  font-size: 30px;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
h1
{
  color: red;
  text-align: center;
}
span
{
  align-content: center;
  font-size: 25px;
  font-weight: bold;
}
ul
{
  border: solid 2px;
  border-radius: 9px;
  border-color: black;
  background: white;
  color:#F10909;
}
li
{
  text-align: center;
}
a:link
{
  text-decoration:none;
}
hr
{
  color: black;
  width: 60%;
} 